.animated_layout {
  position: fixed;
  border-radius: 100%;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background: #228896dc;
}
.wrapper {
  position: fixed;
  width: 40%;
  left: 30%;
  top: 10%;
  z-index: 9999;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 50%;
  }
}
@media (max-width: 460px) {
  .wrapper {
    width: 90%;
    top: 10%;
    left: 5%;
  }
}
