.page_wrapper {
  padding-top: 60px;
}

.page_title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter_wrapper {
  display: flex;
  padding-bottom: 55px;
}
.filter_item {
  width: 10%;
}
