.content {
  position: relative;
  min-height: 100vh;
}
.content__wrapper {
  width: 90%;
  margin: 20px auto;
  min-height: 90vh;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
}
.header {
  position: relative;
  flex-wrap: wrap;

  padding: 15px;
  display: flex;
}
.header__img {
  overflow: hidden;

  width: 50%;
  border: 4px solid #228896;
}
.header__inner {
  width: 50%;
  padding-left: 35px;
}
.header__inner-title {
  font-size: 35px;
  font-weight: 600;
  padding: 10px 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  background: #e78814db;
  width: 100%;
}
.header__inner-text {
  width: 100%;
  margin-top: 35px;
  div,
  p {
    margin-bottom: 15px;
  }
}
@media (max-width: 1200px) {
  .content {
    display: flex;
    align-items: center;
  }
  .content__wrapper {
    min-height: unset;
  }
  .header__img {
    width: 55%;
    order: 2;
    margin: 0 auto;
  }
  .header__inner {
    width: 100%;
    order: 1;
    padding-left: 0;
  }
}
@media (max-width: 500px) {
  .header__inner-title {
    font-size: 20px;
  }
  .header__inner-text {
    font-size: 14px;
  }
  .header__img {
    width: 100%;
  }
}
