@import 'reset.scss';
@import 'swiper/swiper.scss';
@import 'swiper/components/navigation/navigation.scss';
@import 'swiper/components/pagination/pagination.scss';
@import 'swiper/components/effect-fade/effect-fade.scss';

html,
body,
#__next {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  overflow: auto;
}
#__next {
  background: whitesmoke;
}

// swiper config
.swiper-container {
  height: 100%;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.container {
  position: relative;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
h2 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 35px;
  text-align: center;
}
